# APK файлы
*.apk
*.ap_

# DEX файлы
*.dex

# Временные файлы сборки
temp_unsigned.apk
temp_aligned.apk

# IDSig файлы
*.idsig

# Папки с распакованным контентом
.qwen/
7zip_apk/
dex_original/
dex_output/
small/
java/

*.keystore
*.jks

# app_signed.apk

# Python
__pycache__/
*.pyc

# OS
Thumbs.db
.DS_Store
